<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Para se adaptar a telas menores -->
    <title>Lar das meninas| Happy</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
 
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>


    <link rel="icon" href="/images/logo-icon.png"> <!-- Tag link que possui o atributo rel (relacionamento) do tipo icone e eh obtida a partir do href-->

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/animations.css">

    <link rel="stylesheet" href="/css/sidebar.css">

    <link rel="stylesheet" href="/css/page-create-orphanage.css">

    <link rel="stylesheet" href="/css/map.css">

    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/buttons.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet"> <!-- Inserindo mais algumas fontes a partir do Google Fonts Embeed-->
</head>

<body>
    <div id="page-create-orphanage">
        <aside class="animate-right sidebar">
        
                <img src="/images/map-marker.svg" alt="Happy">

                <footer>
                    <button onclick="history.back()"> <!-- history back volta para a pagina na qual estava anteriormente-->

                        <img src="/images/arrow-back.svg" alt="Voltar">

                    </button>
                </footer>

        </aside>
        <main class="animate-appear width-sidebar">

            <form action="">
                <fieldset> <!-- Campos-->
                    <legend> Dados</legend>
                                            
                    <div class="map-container">
                        <div id="mapid"></div>
                        
                        <input type="hidden" name="lat">
                        <input type="hidden" name="lng">

                        <footer>
                            <a href="" id="select-point" >Clique no mapa para adicionar a localizacao</a>
                        </footer>
                    
                    </div>

                    <div class="input-block">
                        <label for="name">Nome</label>
                        <input id="name" name="name" required> <!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                    </div>

                    <div class="input-block">
                        <label for="about">Sobre<span> Máximo 300 caracteres</span> </label>
                        <textarea id="about" name="about" required></textarea><!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Número de Whatsapp</label>
                        <input id="whatsapp" name="whatsapp" required></input><!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                    </div>

                    <div class="input-block images"> <!--Duas classes para essa div-->
                        <label for="images">Foto</label>
                        <div class="images-upload" id="images">

                            <div class="new-upload">
                                <input name="images" placeholder="Cole o link da foto aqui" required> <!-- Place holder eh para ficar com um texto no campo antes de digitar-->
                                <span onclick="deleteField(event)"><img src="/images/remove-file.svg" alt="Remover foto"></span>
                            </div>
                            
                        </div><!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                   
                        <button type="button" onclick="addPhotoField()"><!-- Sem o type button ele tambem se comportaria como um botao, porem como esta dentro de um formulario ele ira enviar os dados ao clicar caso nao tenha o type definido-->
                            <img src="/images/add-file.svg" alt="Nova imagem">
                        </button>

                    </div>

                </fieldset>
                
                <fieldset>
                    <legend>
                        Visitação
                    </legend>

                    <div class="input-block">
                        <label for="instructions">Instruções </label>
                        <textarea id="instructions" name="instructions" required></textarea><!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                    </div>
                    <div class="input-block">
                        <label for="opening_hours">Horário das visitas</label>
                        <input id="opening_hours" name="opening_hours" required> <!-- O label eh referente a este input, o argumento name= eh utilizado para o backend-->
                    </div>

                    <div class="input-block">

                        <label for="open_on_weenkends"> Atende fim de semana?</label>
                        <input type="hidden" id="open_on_weenkends" name="open_on_weenkends" value=1 required> <!-- value=1 Valor padrao eh verdadeiro-->
                        
                        <div class="button-select">

                            <button data-value=1 onclick="toggleSelect(event)" type="button" class="active">Sim</button>

                            <button  data-value=0 onclick="toggleSelect(event)" type="button" >Nao</button>
                        </div>

                        <button type="submit" class="primary-button">Confirmar</button>
                   
                   
                    </div>
                </fieldset>
            
            </form>

        </main>
    </div>

    <script src="/scripts/page-create-orphanage.js"></script>
</body>
</html>